<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiostile.arcaik.radiostile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.radiostile.arcaik.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.radiostile.arcaik.service.MediaPlayerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.radiostile.arcaik.activity.DatabaseActivity"
            android:label="@string/title_activity_database"
            android:parentActivityName="com.radiostile.arcaik.activity.MainActivity">
        </activity>
    </application>

</manifest>
